<div class="container-fluid mx-3">
  <div class="row mb-2">
    <div class="col-8 mr-2">
      <table id="vehicles-table" class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Línea</th>
            <th scope="col">Modelo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles">
            <th scope="row">{{ vehicle.id }}</th>
            <td>{{ vehicle.marca }}</td>
            <td>{{ vehicle.linea }}</td>
            <td>{{ vehicle.modelo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row">
    <div id="vehicles-counts">
      <div *ngFor="let entry of vehicleCountsByBrand | keyvalue">
        Total {{ entry.key }}: {{ entry.value }}
      </div>
    </div>
  </div>
</div>
