<div class="mx-3">
  <header class="mb-4">
    <div class="container-fluid">
      <div class="header-title mb-4 pb-3">
        <h1>TuSegundazo.com</h1>
      </div>
      <img src="images/banner.png" class="img-fluid" alt="TuSegundazo.com" />
    </div>
  </header>

  <main>
    <app-listar-vehiculos></app-listar-vehiculos>
  </main>

  <footer class="mt-4 mb-2">
    <div class="text-center">
      <small
        >Contact us: +57 3102105253 - info&#64;tusegundazo.com -
        &#64;tusegundazo</small
      >
    </div>
  </footer>
</div>
